html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*----------border of page---------*/
div.window-border {
	position: fixed;
	background: #313131;
	z-index: 9999;
}

div.window-border.top {
	height: 15px;
	width: 100%;
	top: 0;
}

div.window-border.bottom {
	height: 15px;
	width: 100%;
	bottom: 0;
}

div.window-border.right {
	width: 15px;
	height: 100%;
	right: 0;
	top: 0;
}

div.window-border.left {
	width: 15px;
	height: 100%;
	left: 0;
	top: 0;
}

/*----------border of page---------*/

.whole-page-wrapper {
	height: 100%;
	/*background: #EEEEEE;*/
	position: relative;
	padding: 15px;
}

/*--------heading of layout------*/
.header-wrapper{
	max-width:940px;
	margin: auto auto;
	padding: 30px 30px 20px 30px;
}
.header-wrapper-inner{
	text-align: center;
	vertical-align: baseline;
}
.header-logo{

}

.header-logo-image{
	/*width: 825px;
	height: 160px;*/
	position: relative;
	left: 16px;
}

/*-----------------site menu styles---------------*/

.header-main-site-nav-menu{
	display: inline-block;
	margin: 0;
	padding: 10px 0;
}

.header-main-site-nav-menu-item{
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0 6px 0 6px;
}
.header-main-site-nav-menu-item a{
	color: #808080;
	text-decoration: none;
	font-size: 13px;
}

.header-main-site-nav-menu-item:hover>a{
	color: #2E2E2E;
}
.header-main-site-nav-menu-item.active a{
	color: #2E2E2E;
}

.header-container-ruler{
	border: none;
	border-top: #E3E3E3 solid 1px;
}

.header-main-site-sub-nav{
	display: none;
	position: absolute;
	padding: 10px 20px 10px 20px;
	background-color: #FFFFFF;
	z-index: 1;
}
.header-main-site-sub-nav .header-main-site-sub-nav{
	left: 99%;
	top: 0;
}

*:hover > .header-main-site-sub-nav{
	display: block;
}

.header-main-site-sub-nav-menu{
	margin: 0;
	padding: 0;
}

.header-main-site-sub-nav-menu-item{
	display: block;
	position: relative;
	white-space: nowrap;
	list-style: none;
	padding: 6px 6px;
	text-align: left;
	border-bottom: #999999 dotted 1px;
}

.header-main-site-sub-nav-menu-item:hover>a{
	color: #2E2E2E;
}

.header-main-site-sub-nav-menu-item:last-child {
	border-bottom: none;
}


/*-----------------------main content------------------------*/

.main-content-wrapper{
	max-width:940px;
	margin: auto auto;
	padding: 30px 30px 20px 30px;
}

.main-content-container{
	text-align: center;
}

/*-----------------------main page footer--------------------*/

.footer-wrapper{
	max-width:940px;
	margin: auto auto 20px;
	padding: 30px 30px 20px 30px;
}

.footer-container-ruler{
	border: none;
	border-top: #E3E3E3 solid 1px;
}

.footer-social-networks-container{
	text-align: center;
	padding: 10px;
}

.footer-social-networks-container a{
	color: #808080;
	text-decoration: none;
	font-size: 12px;
}

.footer-social-networks-container .footer-social-networks-icon{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 6px 0 6px;
	background: url("../images/main/social-icons1.png") 0 0;
}

.footer-social-networks-container .footer-social-networks-icon:hover{
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.86);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.86);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.86);
}

/*---social icons---*/
.footer-social-networks-icon.vk-com{
	background-position: -74px -38px;
}
.footer-social-networks-icon.instagram-com{
	background-position: -2px -38px;
}
.footer-social-networks-icon.facebook-com{
	background-position: -38px -2px;
}
.footer-social-networks-icon.twitter-com{
	background-position: -2px -2px;
}
.footer-social-networks-icon.mail{
	background-position: -38px -74px;
}

/*---social icons---*/

.footer-inner .copyright-like{
	text-align: center;
	padding: 10px;
}
.footer-inner .copyright-like a{
	color: #B3B3B3;
	text-decoration: none;
	font-size:11px;
}
.footer-inner .copyright-like a sup{
	text-decoration: none;
}

/*other delete*/
.owl-carousel-image{
	width: 600px;
	height: 400px;
}
/*other delete*/
