
.icon-logo-db:before { content: '\e800'; } /* '' */
.icon-db-shape:before { content: '\e801'; } /* '' */
.icon-sweden:before { content: '\e802'; } /* '' */
.icon-smashing:before { content: '\e803'; } /* '' */
.icon-rdio:before { content: '\e804'; } /* '' */
.icon-rdio-circled:before { content: '\e805'; } /* '' */
.icon-spotify:before { content: '\e806'; } /* '' */
.icon-gplus:before { content: '\e807'; } /* '' */
.icon-gplus-circled:before { content: '\e808'; } /* '' */
.icon-pinterest-circled:before { content: '\e809'; } /* '' */
.icon-tumblr:before { content: '\e80a'; } /* '' */
.icon-tumblr-circled:before { content: '\e80b'; } /* '' */
.icon-pinterest:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\e80d'; } /* '' */
.icon-left-open:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-down-open-mini:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\e813'; } /* '' */
.icon-vimeo-circled:before { content: '\e814'; } /* '' */
.icon-twitter-circled:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-facebook-circled:before { content: '\e817'; } /* '' */
.icon-facebook-squared:before { content: '\e818'; } /* '' */
.icon-instagram:before { content: '\e819'; } /* '' */
.icon-dropbox:before { content: '\e81a'; } /* '' */
.icon-evernote:before { content: '\e81b'; } /* '' */
.icon-skype-circled:before { content: '\e81c'; } /* '' */
.icon-skype:before { content: '\e81d'; } /* '' */
.icon-vkontakte:before { content: '\e81e'; } /* '' */
.icon-cancel-circled:before { content: '\e81f'; } /* '' */
.icon-cancel-squared:before { content: '\e820'; } /* '' */
.icon-user:before { content: '\e821'; } /* '' */
.icon-users:before { content: '\e822'; } /* '' */
.icon-user-add:before { content: '\e823'; } /* '' */
.icon-picture:before { content: '\e824'; } /* '' */
.icon-camera:before { content: '\e825'; } /* '' */
.icon-layout:before { content: '\e826'; } /* '' */
.icon-menu:before { content: '\e827'; } /* '' */
.icon-check:before { content: '\e828'; } /* '' */
.icon-cancel:before { content: '\e829'; } /* '' */
.icon-attach:before { content: '\e82a'; } /* '' */
.icon-link:before { content: '\e82b'; } /* '' */
.icon-folder:before { content: '\e82c'; } /* '' */
.icon-archive:before { content: '\e82d'; } /* '' */
.icon-box:before { content: '\e82e'; } /* '' */
.icon-lamp:before { content: '\e82f'; } /* '' */
.icon-tools:before { content: '\e830'; } /* '' */
.icon-cog:before { content: '\e831'; } /* '' */
.icon-doc-text-inv:before { content: '\e832'; } /* '' */
.icon-doc-text:before { content: '\e833'; } /* '' */
.icon-feather:before { content: '\e834'; } /* '' */
.icon-pencil:before { content: '\e835'; } /* '' */
.icon-keyboard:before { content: '\e836'; } /* '' */
.icon-lock-open:before { content: '\e837'; } /* '' */
.icon-lock:before { content: '\e838'; } /* '' */
.icon-eye:before { content: '\e839'; } /* '' */
.icon-floppy:before { content: '\e83a'; } /* '' */
.icon-left-open-mini:before { content: '\e83b'; } /* '' */
.icon-right-open-mini:before { content: '\e83c'; } /* '' */
.icon-up-open-mini:before { content: '\e83d'; } /* '' */
.icon-down-open-big:before { content: '\e83e'; } /* '' */
.icon-left-open-big:before { content: '\e83f'; } /* '' */
.icon-right-open-big:before { content: '\e840'; } /* '' */
.icon-up-open-big:before { content: '\e841'; } /* '' */
.icon-vk:before { content: '\e842'; } /* '' */
.icon-w3c:before { content: '\e843'; } /* '' */
.icon-foursquare:before { content: '\e844'; } /* '' */
.icon-ie:before { content: '\e845'; } /* '' */
.icon-html5:before { content: '\e846'; } /* '' */
.icon-linkedin-1:before { content: '\e847'; } /* '' */
.icon-meetup:before { content: '\e848'; } /* '' */
.icon-plancast:before { content: '\e849'; } /* '' */
.icon-skype-1:before { content: '\e84a'; } /* '' */
.icon-twitter-1:before { content: '\e84b'; } /* '' */
.icon-youtube:before { content: '\e84c'; } /* '' */
.icon-vimeo:before { content: '\e84d'; } /* '' */
.icon-blogger:before { content: '\e84e'; } /* '' */
.icon-reddit:before { content: '\e84f'; } /* '' */
.icon-evernote-1:before { content: '\e850'; } /* '' */
.icon-google:before { content: '\e851'; } /* '' */
.icon-yahoo:before { content: '\e852'; } /* '' */
.icon-email:before { content: '\e853'; } /* '' */
.icon-dropbox-1:before { content: '\e854'; } /* '' */
.icon-cloudapp:before { content: '\e855'; } /* '' */